/* Clases del menú */
nav {
    margin: 50px;
}

ul {

    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
    margin: 0 100px;
    border: solid 1px black;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(194, 74, 26);
    color: cornsilk;
}

ul>li>a:hover {
    cursor: pointer;
    background-color: rgba(194, 74, 26, 0.808);
}

.flex {
    display: flex;
    justify-content: center;
}

/* Final de las clases del menú */


/* Estilos del footer */
footer {
    margin: 50px;
}